*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.txt h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17vh;
    left: 6em;
    font-size:8.5vh;
    color: #5b98ed;
}
.txt h2 span
{
    color: #89ec5d;
}

.card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px, 0;
    gap: 60px;
}

.card .box
{
    position: relative;
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card .box::before
{
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}
.card .box:hover::before
{
    transform: skewY(0deg);
    inset: -10px 40px;
}

.card .box::after
{
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skewX(15deg);
    transition: 0.5s ease-in-out;
}
.card .box:hover::after
{
    transform: skewX(0deg);
    inset: 40px -10px;
}

.card .box .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.card .box .content .icon
{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.6s ease-in-out;
}
.card .box:hover .content .icon
{
    background: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}

.card .box .content .text h3
{
    font-size: 1.5em;
    color: #fff;
    font-size: 500;
    transition: 0.5s ease-in-out;
}
.card .box:hover .content .text h3
{
    color: #2e2e2e;
}

.card .box .content .text p
{
    color: #999;
    transition: 0.5s ease-in-out;
}
.card .box:hover .content .text p
{
    color: #2e2e2e;
}

.card .box .content .text a
{
    position: relative;
    background: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
    transition: border-radius 0.5s ease;
}
.card .box:hover .content .text a
{
    border-radius: 5px;
    background: #2e2e2e;
    color: var(--clr);
}